@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* 
export interface Project {
  id: string;
  number: string;
  title: string;
  description: string;
  imageUrl: string;
  link: string;
}

export interface ExperienceItem {
  id: string;
  title: string;
  company: string;
  period: string;
  points: string[];
  align: 'left' | 'right';
}

export interface Skill {
  name: string;
  iconClass: string;
  colorClass: string;
}

export interface EducationItem {
  title: string;
  school: string;
  details: string;
  isLatest: boolean;
}*/
